/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 7, 2018, 7:51:05 PM
    Author     : Tucker
*/

 #AnchorPane {
/*    -fx-background-image: url('black-background-texture-pattern-light-480x270.jpg');*/
}

.no-padding {
    -fx-padding : 0 0 0 0;
}

/*#AnchorPane {
    -fx-background-color: rgb(225, 228, 203);
        
}
*/

#c {
    -fx-background-image: null ;
    -fx-background-color: blue ;
    -fx-background-size: cover;
}


.Rectangle {
    -fx-background-image: url('cardBack.jpg');
}

.button-group-h-left {
    -fx-background-radius: 15 0 0 15;
}
.button-group-h-center {
    -fx-background-radius: 0 0 0 0;
}
.button-group-h-right {
    -fx-background-radius: 0 15 15 0;
}