/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 7, 2018, 7:51:05 PM
    Author     : Tucker
*/

 .title-screen {
   -fx-background-image: url('/assets/img/PhotoFunia-1524221081.jpg');
   -fx-background-size: cover;
}

.no-padding {
    -fx-padding : 0 0 0 0;
}

/*#AnchorPane {
    -fx-background-color: rgb(225, 228, 203);
        
}
*/
.scrollPane-group {
    -fx-background-color: rgb(240,244,255);
}
#c {
    -fx-background-image: null ;
    -fx-background-color: rgb(240,244,255) ;
    -fx-background-size: cover;
}


.Rectangle {
    -fx-background-image: url('cardBack.jpg');
}

.background-group-linear-gradient {
    -fx-background-color: linear-gradient(to top,black, rgb(85,98,112))
}

.button-group-card-back {
    -fx-border-style: none;
    -fx-background-image: url('/assets/img/ebfb03607fc73fa6a74de5ed3559b272.jpg');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-border-insets: 0;
    -fx-background-size: 30px;
    
}

.button-group-big-card{
    -fx-background-color: rgb(105,145,170);
    -fx-border-color:black;
    -fx-border-width: 0 3 3 0;
    
}

.button-group-back-button{
    -fx-background-color: rgb(30,60,71);
    -fx-font-color: rgb(240,244,255);
}

.label-group{
    -fx-font-color: rgb(240,244,255);
}

.label-group-title{
    -fx-font-color: rgb(240,244,255);
    -fx-font-size: 54px;
}

.button-group-options {
    -fx-background-color: rgb(240,244,255);
    -fx-font: 12px "Gruppo";
    -fx-border-color:black;
    -fx-border-width: 0 3 3 0;
}

.button-group-main-menu {
    -fx-background-color: rgb(240,244,255);
    -fx-font: 12px "Gruppo";

    
}

.button-group-display {
    -fx-background-color: rgb(240,244,255);
    -fx-font: 48px "Gruppo";

    
}



.button-group-h-left {
    -fx-background-radius: 15 0 0 15;
}
.button-group-h-center {
    -fx-background-radius: 0 0 0 0;
}
.button-group-h-right {
    -fx-background-radius: 0 15 15 0;
}