# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.class

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# All distribution directories
Repertoire.JavaClient/dist/**
Repertoire.Shared/dist/**
Repertoire.WebAPI/dist/**

# All private project settings (What files were open, etc)
Repertoire.JavaClient/nbproject/private/**
Repertoire.Shared/nbproject/private/**
Repertoire.WebAPI/nbproject/private/**

# All those stinkin class files
Repertoire.JavaClient/build/**
Repertoire.Shared/build/**
Repertoire.WebAPI/build/**

# Data we don't need to track
Repertoire.JavaClient/installedDictionaries/**
Repertoire.WebAPI/deckVersions/**
**.ser

# Ensure all third party libraries get included
!ThirdParty/**

