<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <servlet>
        <servlet-name>AvailableDictionaryServlet</servlet-name>
        <servlet-class>RepertoireWebAPI.Servlets.AvailableDictionaryServlet</servlet-class>
    </servlet>
    <context-param>
        <param-name>repertoireDBUrl</param-name>
        <param-value>jdbc:mysql://localhost:3306/Repertoire</param-value>
    </context-param>
    <context-param>
        <param-name>repertoireDBUsername</param-name>
        <param-value>RepertoireWebAPI</param-value>
    </context-param>
    <context-param>
        <param-name>repertoireDBPassword</param-name>
        <param-value>testPassword</param-value>
    </context-param>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
